<header>
    <h2 [ngClass]="{'valid': isValid, 'invalid': !isValid}" >{{title}} {{isValid}}</h2>
    <div>
        {{blockchain.pendingTransactions.length}} Pending Transactions
    </div>
    <nav>
        <button [routerLink]="['send-transaction']">Send Transaction</button>
        <button [routerLink]="['balance']">Balance</button>
        <button [routerLink]="['dashboard']">Dashboard</button>
        <button (click)="onMine()">Mine</button>
    </nav>

</header>
<main>
    <router-outlet></router-outlet>
</main>