$valid-color: green;
$invalid-color: red;

.valid{
    color: $valid-color
}

.invalid{
    color: $invalid-color
}

#ro{

    border: 1px #999999;
    margin: 5% auto;
    text-align: center;

}

#PJtitle{

    margin: 5% auto;
    text-align: center;

}