<app-balance [chain]="blockchain.chain"></app-balance>
<div id=dashboard-whapper>
    <h2>Mined Transactions</h2><h5 id="minedMsg">{{minedMessage}}</h5>
  <div *ngFor="let transaction of userTransactions">
    <app-transaction [transaction]="transaction"></app-transaction>
  </div>
  <h2>Pending Transactions</h2><h5 id="pendingMsg" >{{pendingMessage}}</h5>
  <div *ngFor="let transaction of userPendingTransactions">
    <app-transaction [transaction]="transaction"></app-transaction>
  </div>
</div>
